{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <div class="courses-container">

        <div class="course-list-title-divided">
            <div class="course-list-title-left-side">
                <h1>All your {{categoryName}} courses</h1>
            </div>
            <div class="course-list-title-right-side">
                <button class="btn-default"  onclick="window.location.href='{{ path('create_course') }}';">
                    <span>
                        <img src="/icons/plus.svg" alt="plus">
                        Create course
                    </span>
                </button>
            </div>
        </div>

        <div class="courses-list-container">
            <div class="courses-list">
                <div class="courses-list-element-query">
                    <div class="navbar-item">
                            <div class="category-dropdown">
                            <button class="navbar-item dropdown-button">Categories <img src="/icons/arrow-down.svg" alt="arrow-down"></button>
                                <div class="dropdown-content">
                                    <ul class="categories">
                                        {% for parent in navBarCategories %}
                                        <li class="category-item">
                                            <a href="{{ path('userCoursesPanel', {categoryId: parent.id}) }}" class="category-link"><span>{{ parent.name }}</span> <img src="/icons/arrow-right.svg" alt="arrow-right"></a>
                                            <ul class="subcategory">
                                                {% for child in parent.getChildren %}
                                                <li>
                                                    <a href="{{ path('userCoursesPanel', {categoryId: child.id}) }}" class="subcategory-link">{{ child.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    <div class="navbar-item">
                        <form action="{{ path('userCoursesPanel') }}" method="get">
                            <input class="search-input" placeholder="Search for course" type="text" name="titleParam" class="input" value="{{ titleParam }}">
                        </form>
                    </div>
                    
                </div>
                {% if paginator.results | length > 0 %}
                    {% for course in paginator.results %}
                        <div class="courses-list-element">
                            <div class="courses-list-element-image-section">
                                 <img
                                src="{{ course.ImagePath }}"
                                alt=""
                            />
                            </div>
                           
                            <h2>
                                {{ course.name }}
                            </h2>

                            <div class="courses-list-element-manage">
                                <h4>Status: <br></h4>
                                <h3>
                                    {% if course.status.value == statusValues['NOT_DONE_YET'] %}
                                        Not done yet
                                    {% elseif course.status.value == statusValues['WAITING_FOR_APPROVAL'] %}
                                        Waiting for approval
                                    {% elseif course.status.value == statusValues['APPROVED'] %}
                                        Approved
                                    {% elseif course.status.value == statusValues['DRAFT'] %}
                                        Draft
                                    {% elseif course.status.value == statusValues['APPROVED_AND_DRAFT'] %}
                                        Approved and new version in draft
                                    {% elseif course.status.value == statusValues['BANNED'] %}
                                        Banned
                                    {% else %}
                                        Unknown status
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="instructor-course-list-btn-section">
                                <button class="sliding-button-active" onclick="window.location.href='{{ path('edit_course',{id: course.id}) }}'">
                                    <div class="sliding-button-sign-active"><img src="/icons/pencil.svg" alt="edit-course"></div>
                                    <div class="sliding-button-text-active">Manage/Edit</div>
                                </button>
                                <button class="sliding-button-active" onclick="window.location.href='{{ path('preview_course',{courseId: course.id, status: "DRAFT", returnPath: 'userCoursesPanel'}) }}'">
                                    <div class="sliding-button-sign-active"><img src="/icons/preview.svg" alt="preview-course"></div>
                                    <div class="sliding-button-text-active">Preview</div>
                                </button>

                            </div>
                        </div>
                    {% endfor %}
                {% else %}

                    <h1>No courses yet</h1>

                {% endif %}

            </div>
        </div>

    </div>
    
   {% if paginator.hasToPaginate %}
        {% include 'partials/pagination/_course_pagination.html.twig' with { path: "userCoursesPanel"} %}
    {% endif %} 


{% endblock %}