{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <div class="courses-container">

        <div class="course-list-title-divided">
            <div class="course-list-title-left-side">
                <h1>All your {{categoryName}} courses</h1>
            </div>
            <div class="course-list-title-right-side">
                <button class="btn-default"  onclick="window.location.href='{{ path('create_course') }}';">
                    <span>
                        <img src="/icons/plus.svg" alt="plus">
                        Create
                    </span>
                </button>
            </div>
        </div>

        <div class="courses-list-container">
            <div class="courses-list">
                <div class="courses-list-element-query">
                    <div class="navbar-item">
                            <div class="category-dropdown">
                            <button class="navbar-item dropdown-button">Categories <img src="/icons/arrow-down.svg" alt="arrow-down"></button>
                                <div class="dropdown-content">
                                    <ul class="categories">
                                        {% for parent in navBarCategories %}
                                        <li class="category-item">
                                            <a href="{{ path('userCoursesPanel', {categoryId: parent.id}) }}" class="category-link"><span>{{ parent.name }}</span> <img src="/icons/arrow-right.svg" alt="arrow-right"></a>
                                            <ul class="subcategory">
                                                {% for child in parent.getChildren %}
                                                <li>
                                                    <a href="{{ path('userCoursesPanel', {categoryId: child.id}) }}" class="subcategory-link">{{ child.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="navbar-item">
                            <form action="">
                                <input class="search-input" placeholder="Searth for course" type="text" name="text" class="input">
                            </form>
                        </div>
                </div>
                {% if paginator.results | length > 0 %}
                    {% for course in paginator.results %}
                        <div class="courses-list-element">
                            <img
                                width = 200px
                                src="{{ course.ImagePath }}"
                                alt=""
                            />
                            <h2>
                                {{ course.name }}
                            </h2>

                            {% if statusValues['NOT_DONE_YET'] == course.status.value %}
                            <div class="courses-list-element-manage">
                                <p>
                                    Course is not finished yet
                                </p>
                                
                                <a href="/courses/edit/{{ course.id }}">
                                    Manage/Edit
                                </a>
                            </div>
                            {% endif %}
                            <a href="/courses/show/{{ course.id }}">
                                Preview
                            </a>
                        </div>
                    {% endfor %}
                {% else %}

                    <h1>No courses yet</h1>
                    <button class="btn-create"  onclick="window.location.href='{{ path('create_course') }}';">
                        <span>
                            <img src="/icons/plus.svg" alt="plus">
                            Create new one
                        </span>
                    </button>

                {% endif %}

            </div>
        </div>

    </div>
    
   {% if paginator.hasToPaginate %}
        {% include 'partials/pagination/_course_pagination.html.twig' with { path: "userCoursesPanel"} %}
    {% endif %} 


{% endblock %}