 <div>
        <h1>
            {{ course.name }}
        </h1>
        <img
            src="{{ course.ImagePath }}"
        />

        <p>
            {{ course.Description }}
        </p>

        <p><h3>Content</h3>

            {% for chapter in course.chapters %}       
                <h4>{{ chapter.name }}</h4>
                <ul>
                {% for episode in chapter.episodes %}
                    <li>{{episode.name}}:<br>
                     - {{episode.description}}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        
    </p>

    <p>
    Categories:
    {% for category in course.categories %}
    {{category.name}}
    {% endfor %}
    </p>

        {% if app.user == course.user %}
        <p> 
            <a 
                href="/courses/edit/{{ course.id }}">
                Edit course   
            </a>
        </p>
           
        <p>
            <a 
                href="/courses/delete/{{ course.id }}">
                Delete course
            </a>
        </p>
            
        {% endif %}
    </div>

<h4>Course created by {{course.user.username}}</h1>