
<div class="edit-course-chapter-element chapter-create-container">
    <h1>Chapter.{{ chapter_number }} </h1>
    <div class="edit-course-inputs chapter-create-inputs">
        {{ form_start(chapter_form, {'attr': {'id': 'ajax-chapter-form'}}) }}
            
            <div class="edit-course-chapter-element-create-form">   

                {{ form_widget(chapter_form) }}

                <input type="hidden" name="course_id" value="{{ courseid }}">

                <button class="btn-default" 
                        type="submit" 
                        data-action="click->edit-course#submitChapterForm">
                        
                        <span>
                            <img src="/icons/plus.svg" alt="plus">
                            Create chapter
                        </span>
                </button>
            
            </div>
            

        {{ form_end(chapter_form) }}
        {% if chapter_form.name.vars.errors is not empty %}
            <ul class="form-errors">
                {% for error in chapter_form.name.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="chapter-form-messages" data-edit-course-target="chapterFormMessages"></div>
    </div>
    
</div>


<div id="chapter-form-messages"></div>
