<h1>Edit episode</h1>

{{ form_start(form) }}

    {{ form_widget(form) }}

        <video width="640" height="360" controls>
            <source src="{{episode.videoPath}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <p>
        <img
            width = 100px
            src="{{ episode.ImagePath ? episode.ImagePath : "https://w7.pngwing.com/pngs/361/973/png-transparent-no-symbol-sign-scalable-graphics-hitting-others-s-angle-text-sticker.png" }}"
            alt=""
        />
        </p>

        <button    
            type="submit"
            class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Submit Post
        </button>

{{ form_end(form) }}