{% extends 'clear_base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    {% include '/partials/_return_nav.html.twig' with { return_route: path('userCoursesPanel') } %}
    
    {{ form_start(course_form) }}

    <button class="btn-default edit-course-submit-btn"  
            type="submit">
        <span>
            Save
        </span>
    </button>

    <div data-controller="edit-course" class="edit-course-container" >

        <!-- Navigation Panel -->
        <div class="edit-course-nav">
            <div class="edit-course-nav-container"> 
                <button type="button" data-action="click->edit-course#navigate" data-index="0" class="nav-button">Basic Info</button>
                <button type="button" data-action="click->edit-course#navigate" data-index="1" class="nav-button">Pricing</button>
                <button type="button" data-action="click->edit-course#navigate" data-index="2" class="nav-button">Curriculum</button>
                 <button type="button" data-action="click->edit-course#navigate" data-index="3" class="nav-button">Publish</button>
                <button type="button" data-action="click->edit-course#navigate" data-index="4" class="nav-button">Critical</button>
            </div>
        </div>

        <!-- Content Section -->
        <div class="edit-course-content">
            <!-- Basic Info Section -->
            <div data-edit-course-target="section" class="edit-course-block">
                <div class="edit-course-block-content">
                    <div class="edit-course-block-content-title">
                        <h2>Basic info:</h2>
                    </div>
                    
                    <div class="edit-course-inputs">
                        {{ form_row(course_form.name, {label: 'Title: '}) }}
                        {{ form_row(course_form.Description, {label: 'Description:'}) }}
                        {{ form_row(course_form.image, {label: 'Image:'}) }}
                        {{ form_row(course_form.categories, {label: 'Category:'}) }}
                    </div>
                   
                </div>
            </div>

            <!-- Pricing Section -->
            <div data-edit-course-target="section" class="edit-course-block" style="display: none;">
                <div class="edit-course-block-content">
                
                    <div class="edit-course-block-content-title">
                        <h2>Pricing:</h2>
                    </div>
                    <p>
                        Enter the amount that best reflects the value of your course
                    </p>
                    <div class="edit-course-inputs">
                        {{ form_row(course_form.price) }}
                    </div>
                </div>
            </div>
            {{ form_end(course_form) }}

            <!-- Curriculum Section -->
            <div data-edit-course-target="section" class="edit-course-block" style="display: none;">
                <div class="edit-course-block-content">
                    <div class="edit-course-block-content-title">
                        <h2>Curriculum: </h2>
                    </div>
                
                    <div id="chapter-list" data-edit-course-target="chapterList" class="edit-course-chapter-list">
                        {% set chapter_number =  0 %}
                        {% for chapter in course.chapters %}
                            <div class="edit-course-chapter-element">
                                {% set chapter_number = loop.index %}
                                <h3 class="chapter-header">
                                    Chapter.{{ chapter_number }} 
                                    <span class="chapter-name">{{ chapter.name }}</span>
                                </h3>
                                {% if chapter.episodes is not empty %}
                                    
                                    {% for episode in chapter.episodes %}

                                        <div class="edit-course-episode-container">
                                            <img width="100px" src="{{ episode.ImagePath ? episode.ImagePath : '/images/no_content.png' }}" alt="">
                                            <h4>{{ episode.name }}</h4>
                                            <div>
                                                <button class="btn-default edit-course-edit-delete-btn" 
                                                        type="button" 
                                                        data-controller="custom-modal" 
                                                        data-action="click->custom-modal#open" 
                                                        data-modal-id="edit-episode" 
                                                        data-course-id="{{ course.id }}"
                                                        data-episode-id="{{ episode.id }}">
                                                    <span>
                                                        <img src="/icons/edit-white.svg" alt="edit">
                                                        
                                                    </span>
                                                </button>

                                                 <button class="btn-default edit-course-edit-delete-btn" 
                                                         type="button"
                                                         data-controller="custom-modal" 
                                                         data-action="click->custom-modal#open" 
                                                         data-modal-id="delete-episode"
                                                         data-course-id="{{ course.id }}"
                                                         data-episode-id="{{ episode.id }}">
                                                    <span>
                                                        <img src="/icons/remove.svg" alt="remove">
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                    {% endfor %}


                                {% else %}
                                    <div class="edit-course-episode-container">
                                        <p> - - No episodes yet</p>
                                    </div>
                                {% endif %}

                                <button class="btn-default" 
                                        type="button" 
                                        data-controller="custom-modal" 
                                        data-action="click->custom-modal#open"
                                        data-modal-id="create-episode"
                                        data-chapter-id="{{ chapter.id }}">
                                    <span>
                                        <img src="/icons/plus.svg" alt="plus">
                                        Add episode
                                    </span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>

                    {% include 'partials/chapter/_create.html.twig' with { courseid: course.id, chapter_form: chapter_form, chapter_number: chapter_number + 1 } %}
                    <div id="chapter-form-messages" data-edit-course-target="chapterFormMessages"></div>
                </div>
            </div>

            <!-- Publish Section -->
            <div data-edit-course-target="section" class="edit-course-block" style="display: none;">
                <div class="edit-course-block-content">
                
                    <div class="edit-course-block-content-title">
                        <h2>Publishing a Course:</h2>
                    </div>
                    <p>
                        Once you have completed and reviewed your course content,
                        you can submit it for final review by clicking the "Send for review"
                        button below. Our team will carefully assess your course to ensure it meets 
                        our standards and provide feedback if any adjustments are needed.
                        Once the review process is complete, you will receive the results via email.
                        This ensures your course is ready to be published and available on our website.
                    </p>

                    <button class="btn-default" 
                            type="button" 
                            data-controller="custom-modal" 
                            data-action="click->custom-modal#open" 
                            data-modal-id="publish-course">
                            
                            <span>
                                Send for review
                            </span>
                        
                    </button>

                    
                </div>
            </div>
            {{ form_end(course_form) }}

            <!-- Critical Section -->
            <div data-edit-course-target="section" class="edit-course-block">
                <div class="edit-course-block-content">
                    <div class="edit-course-block-content-title">
                        <h2>Delete course:</h2>
                    </div>
                    <p>Once you delete a course, there is no going back. Please be certain.</p>
                    <div class="col-auto">
                        <div class="form-text">
                            
                            <button class="btn-default-red" 
                                    type="button" 
                                    data-controller="custom-modal" 
                                    data-action="click->custom-modal#open" 
                                    data-modal-id="delete-course">
                                    
                                    <span>
                                        Delete
                                    </span>
                                
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal Delete Episode  -->
{% component Modal with {id: 'delete-episode'} %}
    {% block modal_header %}
        <h1>Delete episode</h1>
        <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">
            <img src="/icons/remove.svg" alt="close">
        </button>
    {% endblock %}
    {% block modal_body %}
        Are you sure you want to delete this episode?
        <button type="button" id="deleteEpisodeButton" aria-label="Delete Episode">Yes</button>
        <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">No</button>
    {% endblock %}
{% endcomponent %}


<!-- Modal Delete Course  -->
{% component Modal with {id: 'delete-course'}  %}
    {% block modal_header %}
        <h1>Delete course</h1>
        <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">
            <img src="/icons/remove.svg" alt="close">
        </button>
    {% endblock %}
    {% block modal_body %}
        <div class="delete-course-container">
             <h3>Are you sure you want to delete course : {{course.name}}  ?</h3>
            <div class="delete-course-buttons-container">
                <button type="button" class="btn-default-red"  onclick="window.location.href='{{ path('delete_course', {id: course.id}) }}';">Yes</button>
                <button type="button" class="btn-default"  data-action="click->custom-modal#hide" aria-label="Close">No</button>
            </div>
        </div> 
    {% endblock %}
{% endcomponent %}

<!-- Modal Publish Course  -->
{% component Modal with {id: 'publish-course'}  %}
    {% block modal_header %}
        <h1>Publishing the course</h1>
        <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">
            <img src="/icons/remove.svg" alt="close">
        </button>
    {% endblock %}
    {% block modal_body %}
        <div class="delete-course-container">
             <h3>Are you ready to send your course for review ?</h3>
            <div class="delete-course-buttons-container">
                <button type="button" class="btn-default"  onclick="">Yes</button>
                <button type="button" class="btn-default-red"  data-action="click->custom-modal#hide" aria-label="Close">No</button>
            </div>
        </div> 
    {% endblock %}
{% endcomponent %}

<!-- Modal Create Episode  -->
{% component Modal with {id: 'create-episode'}  %}
    {% block modal_header %}
        <h2>Create episode in chapter </h2>
         <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">
            <img src="/icons/remove.svg" alt="close">
        </button>
    {% endblock %}
    {% block modal_body %}
        {% include 'partials/episodes/_create.html.twig' with { create_episode_form: create_episode_form } %}
    {% endblock %}
{% endcomponent %}

<!-- Modal Edit Episode  -->
{% component Modal with {id: 'edit-episode'}  %}
    {% block modal_header %}
        <h2>Edit episode</h2>
         <button type="button" class="btn-close" data-action="click->custom-modal#hide" aria-label="Close">
            <img src="/icons/remove.svg" alt="close">
        </button>
    {% endblock %}
    {% block modal_body %}
        {% include 'partials/episodes/_edit.html.twig' with { edit_episode_form: edit_episode_form } %}
    {% endblock %}
{% endcomponent %}



{% endblock %}

