{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <div class="courses-container">
         
        {% if categoryId == 0 and titleParam == "" %}
        
            <div class="greeting">
                {% if app.user %}
                    <h1>Hello, {{app.user.userIdentifier}} what do you want to learn today</h1>
                {% endif %}
            </div>
            
            
            <div class="best-courses-container">
            
                <div class="best-courses-title">
                    <h1>Check out our top rated courses</h1>
                </div>

                <div class="owl-carousel" data-controller="owl-carousel">
                    {% for course in coursesTheBestByRating %}
                        <div class="owl-carousel-single-tile" onclick="window.location.href='{{ path('show_course', {courseId: course.id}) }}';">
                            <img src="{{ course.imagePath }}" alt="{{ course.name }}">
                            <div class="owl-carousel-single-tile-details">
                                <div>
                                    <h3>{{ loop.index }}. {{ course.name }}</h3>
                                </div>
                                <div>
                                    {{course.price}} $
                                </div>
                                <div class="courses-list-element-details-section-rating">
                                    <div class="star-container">
                                        {% for i in range(0, 4, 1) %}
                                            <span class="star {% if course.ratingAverage >= i %} filled {% endif %}">★</span>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        {{course.ratingAverage}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}
                </div>
                
            </div>  
        {% endif %}
            <div class="course-list-title">
                {% if titleParam != "" %}
                    <h1>All courses containing "{{titleParam}}"</h1>
                {% else %}
                    <h1>All {{categoryName}} courses</h1>
                {% endif %}
                    
            </div>
        {% if paginator.results | length > 0 %}
            
            <div class="courses-list-container">
                    <div class="courses-list">
                        {% for course in paginator.results %}
                            {% set purchased = false %}
                            {% set inCart = false %}

                            {% if purchasedCoursesIds and course.id in purchasedCoursesIds  %} 
                                {% set purchased = true %}
                            {% endif %}

                            {% if productsInCartIds and course.id in productsInCartIds %}
                                {% set inCart = true %}
                            {% endif %}


                            <div class="courses-list-element-container">
                                <div class="courses-list-element" onclick="window.location.href='{{ path('show_course', {courseId: course.id}) }}';">
                                    <div class="courses-list-element-image-section">
                                        <img
                                            src="{{ course.ImagePath }}"
                                            alt=""
                                        />
                                    </div>
                                    <div class="courses-list-element-details-section">
                                        <h2>
                                            {{ course.name }}
                                        </h2>
                                        <p class="courses-list-element-details-section-p">
                                            {{ course.Description }}
                                        </p>
                                        <div class="courses-list-element-details-section-rating">
                                            <div class="star-container">
                                                {% for i in range(0, 4, 1) %}
                                                    <span class="star {% if course.ratingAverage >= i %} filled {% endif %}">★</span>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                {{course.ratingAverage}}
                                            </div>
                                        </div>
                                        <div class="courses-list-element-details-section-createdby">
                                            Created by {{course.user.username}}
                                        </div>
                                    </div>
                                    <div class="courses-list-element-price-section">
                                        <div class="courses-list-element-price-section-price">
                                        {% if purchased == false %}
                                            {{course.price}} $
                                        {% endif %}
                                            
                                        </div>

                                        <div>
                                            {% if purchased %}
                                                <button type="submit" class="add-to-cart sliding-button">
                                                    <div class="sliding-button-sign"><img src="/icons/play-button.svg" alt="watch-course"></div>
                                                    <div class="sliding-button-text">Watch</div>
                                                </button>
                                            {% elseif inCart %}
                                                <button type="submit"
                                                        class="add-to-cart sliding-button"
                                                        onclick="event.stopPropagation();">
                                                    <div class="sliding-button-sign"><img src="/icons/cart-full.svg" alt="in-cart"></div>
                                                    <div class="sliding-button-text">In&nbsp;cart</div>
                                                </button>
                                            {% else %}
                                                <form action="{{ path('add_to_cart', {courseId: course.id}) }}" method="POST" id="button-content-{{ course.id }}">
                                                    <button type="submit"
                                                            class="add-to-cart sliding-button"
                                                            onclick="event.stopPropagation();">
                                                        <div class="sliding-button-sign"><img src="/icons/cart.svg" alt="add-to-cart"></div>
                                                        <div class="sliding-button-text">Add&nbsp;to&nbsp;cart</div>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>


                                    </div>
                                </div>
                            </div>
                            
                    {% endfor %}

        {% else %}
            <div class="courses-list-container">
                <div class="courses-list">
                     <h1>No course found</h1>
                </div>
            </div>
        {% endif %}

                    {% if paginator.hasToPaginate %}
                        {% set prevPathArg = { categoryId: categoryId, titleParam: titleParam, page: paginator.previousPage } %}
                        {% set listedPathArg = {categoryId: categoryId, titleParam: titleParam, page: 1 } %}
                        {% set nextPathArg = { categoryId: categoryId, titleParam: titleParam, page: paginator.nextPage } %}

                        {% include 'partials/pagination/_course_pagination.html.twig' 
                            with { path: "courses",
                                prevPathArg: prevPathArg,
                                listedPathArg: listedPathArg,
                                nextPathArg: nextPathArg
                            }
                        %}
                    {% endif %}
                </div>
        </div>

    </div>

{% endblock %}