{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <div class="courses-container">
         
        {% if categoryId == null %}
        <div class="greeting">
            <h1>Hello, {{app.user.userIdentifier}} what do you want to learn today</h1>
        </div>
        
        <div class="best-courses-container">
        
            <div class="best-courses-title">
                <h1>Check out our top rated courses</h1>
            </div>

           <div class="owl-carousel" data-controller="owl-carousel">
                {% for course in coursesTheBestByRating %}
                    <div class="owl-carousel-single-tile" onclick="window.location.href='{{ path('show_course', {courseId: course.id}) }}';">
                        <img src="{{ course.imagePath }}" alt="{{ course.name }}">
                        <div class="owl-carousel-single-tile-details">
                            <div>
                                <h3>{{ loop.index }}. {{ course.name }}</h3>
                            </div>
                            <div class="courses-list-element-details-section-rating">
                                <div class="star-container">
                                    {% for i in range(0, 4, 1) %}
                                        <span class="star {% if course.ratingAverage >= i %} filled {% endif %}">★</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{course.ratingAverage}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            
        </div>  
        {% endif %}

        <div class="course-list-title">
            <h1>All {{categoryName}} courses</h1>
        </div>
        <div class="courses-list-container">
                <div class="courses-list">
                    {% for course in paginator.results %}
                        
                        <div class="courses-list-element-container">
                            <div class="courses-list-element" onclick="window.location.href='{{ path('show_course', {courseId: course.id}) }}';">
                                <div class="courses-list-element-image-section">
                                    <img
                                        src="{{ course.ImagePath }}"
                                        alt=""
                                    />
                                </div>
                                <div class="courses-list-element-details-section">
                                    <h2>
                                        {{ course.name }}
                                    </h2>
                                    <p class="courses-list-element-details-section-p">
                                        {{ course.Description }}
                                    </p>
                                    <div class="courses-list-element-details-section-rating">
                                        <div class="star-container">
                                            {% for i in range(0, 4, 1) %}
                                                <span class="star {% if course.ratingAverage >= i %} filled {% endif %}">★</span>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            {{course.ratingAverage}}
                                        </div>
                                    </div>
                                    <div class="courses-list-element-details-section-createdby">
                                        Created by {{course.user.username}}
                                    </div>
                                </div>
                                <div class="courses-list-element-price-section">
                                    <div class="courses-list-element-price-section-price">
                                        {{course.price}} $
                                    </div>
                                    <div>
                                        <form action="{{ path('add_to_cart', {courseId: course.id}) }}" method="POST"id="button-content-{{ course.id }}">
                                            <button type="submit"
                                                    
                                                    class="add-to-cart sliding-button"
                                                    onclick="event.stopPropagation();" 
                                                    {% if productsInCartIds and course.id in productsInCartIds %} disabled{% endif %}>
                                                {% if productsInCartIds and course.id in productsInCartIds %}
                                                    <div class="sliding-button-sign"><img src="/icons/cart-full.svg" alt="in-cart"></div>
                                                    <div class="sliding-button-text">In&nbsp;cart</div>
                                                {% else %}
                                                    <div class="sliding-button-sign"><img src="/icons/cart.svg" alt="add-to-cart"></div>
                                                    <div class="sliding-button-text">Add&nbsp;to&nbsp;cart</div>
                                                {% endif %}
                                            </button>
                                        </form>
                                     </div>
                                </div>
                            </div>
                        </div>
                        
                    {% else %}
                        <div >No course found</div>
                    {% endfor %}

                    {% if paginator.hasToPaginate %}

                        {% include 'partials/pagination/_course_pagination.html.twig' with { path: "courses"} %}
                        
                    {% endif %}
                </div>
        </div>

    </div>

{% endblock %}