{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    
    <div class="courses-container">

        <div class="course-list-title">
            <h1>All {{categoryName}} courses</h1>
        </div>
        <div class="courses-list-container">
                <div class="courses-list">
                    {% for course in paginator.results %}
                        
                        <div class="courses-list-element-container">
                            <div class="courses-list-element" onclick="window.location.href='{{ path('show_course', {courseId: course.id}) }}';">
                                <div class="courses-list-element-image-section">
                                    <img
                                        src="{{ course.ImagePath }}"
                                        alt=""
                                    />
                                </div>
                                <div class="courses-list-element-details-section">
                                    <h2>
                                        {{ course.name }}
                                    </h2>
                                    <p class="courses-list-element-details-section-p">
                                        {{ course.Description }}
                                    </p>
                                    {% set courserating = 3.34 %}
                                    <div class="courses-list-element-details-section-rating">
                                        <div class="star-container">
                                            {% for i in range(0, 4, 1) %}
                                                <span class="star {% if courserating >= i %} filled {% endif %}">★</span>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            {{courserating}}
                                        </div>
                                    </div>
                                    <div class="courses-list-element-details-section-createdby">
                                        Created by {{course.user.username}}
                                    </div>
                                </div>
                                <div class="courses-list-element-price-section">
                                    <div class="courses-list-element-price-section-price">
                                        {{course.price}} $
                                    </div>
                                    <div>
                                        <form action="{{ path('add_to_cart', {courseId: course.id}) }}" method="POST" data-turbo-frame="cart">
                                            <button type="submit"
                                                    class="add-to-cart sliding-button"
                                                    onclick="event.stopPropagation();" 
                                                    data-product-id="{{ course.id }}"
                                                    {% if productsInCartIds and course.id in productsInCartIds %} disabled{% endif %}>
                                                {% if productsInCartIds and course.id in productsInCartIds %}
                                                    In cart
                                                {% else %}
                                                    <div class="sliding-button-sign"><img src="/icons/cart.svg" alt="add-to-cart"></div>
                                                    <div class="sliding-button-text">Add&nbsp;to&nbsp;cart</div>
                                                {% endif %}
                                            </button>
                                        </form>
                                     </div>
                                </div>
                            </div>
                        </div>
                        
                    {% else %}
                        <div >No course found</div>
                    {% endfor %}

                    {% if paginator.hasToPaginate %}

                        {% include 'partials/pagination/_course_pagination.html.twig' with { path: "courses"} %}
                        
                    {% endif %}
                </div>
        </div>

    </div>
    
<script>

    document.addEventListener("turbo:submit-end", (event) => {
        if (event.detail.success) {
            fetch('/cart/counter')
                .then(response => response.json())
                .then(data => {
                    const counter = document.getElementById('cart-counter');
                    counter.innerText = `${data.AmountOfProducts}`;
                });

            const form = event.target;
            const productId = form.querySelector('.add-to-cart').dataset.productId;

            const button = document.querySelector(`button[data-product-id="${productId}"]`);

            if (button) {
                button.disabled = true;
                button.innerText = 'In cart';
            }
        }
    });


</script>


{% endblock %}