{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <h1>Kategorie</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button    
            type="submit">
            Filtr
        </button>
        {{ form_end(form) }}

    <h1>What's new</h1>
    {% for course in courses %}
        <div>
            <img
                width = 200px
                src="{{ course.ImagePath }}"
                alt=""
            />
            <h2>
                {{ course.name }}
            </h2>

            <p>
                {{ course.Description }}
            </p>

            <a href="/courses/show/{{ course.id }}">
                Show me
            </a>
        </div>
    {% endfor %}

{% endblock %}