{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    
    <div class="courses-container">

        <div class="course-list-title">
            <h1>All {{categoryName}} courses</h1>
        </div>
        <div class="courses-list-container">
            <div class="courses-list">
                {% for course in paginator.results %}
                    <div class="courses-list-element">
                        <img
                            width = 200px
                            src="{{ course.ImagePath }}"
                            alt=""
                        />
                        <h2>
                            {{ course.name }}
                        </h2>

                        <p>
                            {{ course.Description }}
                        </p>

                        <a href="/courses/show/{{ course.id }}">
                            Show me
                        </a>
                    </div>
                {% else %}
                    <div >No course found</div>
                {% endfor %}
            </div>
        </div>

    </div>
    

    {% if paginator.hasToPaginate %}

        {% include 'partials/pagination/_course_pagination.html.twig' with { path: "courses"} %}
        
    {% endif %}

{% endblock %}

