{% extends 'clear_base.html.twig' %}
{% block title %}Course preview{% endblock %}

{% block body %}

   {% include '/partials/_return_nav.html.twig' with { return_route: path(returnPath) } %}

    <div class="preview-select-status-btn-container">
        <h2>
        Course Version: 
        </h2>
        {% set currentStatus = app.request.get('status') %}

        <button class="btn-default {% if currentStatus == 'DRAFT' %}btn-border{% endif %}" 
                onclick="window.location.href='{{ path('preview_course',{status: 'DRAFT', courseId: draftCourseId, returnPath: returnPath}) }}'">
            DRAFT
        </button>

        {% if isCourseToBeChecked %}
            <button class="btn-default {% if currentStatus == 'TO_BE_CHECKED' %}btn-border{% endif %}" 
                    onclick="window.location.href='{{ path('preview_course',{status: 'TO_BE_CHECKED', courseId: toBeCheckedCourseId, returnPath: returnPath}) }}'">
                FOR APPROVAL
            </button>
        {% endif %}

        <button class="btn-default {% if currentStatus == 'PUBLIC' %}btn-border{% endif %}" 
                onclick="window.location.href='{{ path('preview_course',{status: 'PUBLIC', courseId: publicCourseId, returnPath: returnPath}) }}'">
            PUBLIC
        </button>

    </div>
    


    <div class="cshow-container">
        <div class="cshow-container-left">
            {% if episodeId > 0 %}
                <div class"cshow-watch-container">
                    <div class="cshow-videoplayer-container">
                        <video controls>
                            <source src="{{episode.videoPath}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    
                    <div class="cshow-details">
                        <div class="cshow-details-content">

                            <h1>
                            {{ episode.name }}
                            </h1>

                            <p class="cshow-text-block">
                                {{ episode.Description }}
                            </p>

                        </div>
                        <div class="courses-list-element-price-section">
                            <div class="courses-list-element-price-section-price">
                                {{course.price}} $
                            </div>
                            <div>
                                <button type="submit"
                                        class="add-to-cart sliding-button"
                                        onclick="event.stopPropagation();" >

                                        <div class="sliding-button-sign"><img src="/icons/cart.svg" alt="add-to-cart"></div>
                                        <div class="sliding-button-text">Add&nbsp;to&nbsp;cart</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            {% else %}
                <div class="cshow-details-container">
                    <div class="cshow-course-img">
                        <img
                        src="{{ course.ImagePath }}"
                        />
                    </div>
                    <div class="cshow-details">

                        <div class="cshow-details-content">
                            <h1>
                            {{ course.name }}
                            </h1>

                            <p class="cshow-text-block">
                                {{ course.Description }}
                            </p>

                            <p>
                                Categories:
                                {{course.category.name}}

                                <h4>Course created by {{username}}</h4>
                            </p>
                        </div>
                        
                        <div class="courses-list-element-price-section">
                            <div class="courses-list-element-price-section-price">
                                {{course.price}} $
                            </div>
                            <div>
                                <button type="submit"
                                        class="add-to-cart sliding-button"
                                        onclick="event.stopPropagation();" >

                                        <div class="sliding-button-sign"><img src="/icons/cart.svg" alt="add-to-cart"></div>
                                        <div class="sliding-button-text">Add&nbsp;to&nbsp;cart</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

            
        <div class="cshow-container-right">

            <div class="cshow-chapters-list-container">
                {% set episodeIndex = 1 %}
                {% for chapter in course.chapters %}
                        <div class="cshow-chapters-element">
                            <div class="cshow-chapters-element-title" onclick="toggleChapter('{{ loop.index }}')">
                                <h4>{{ chapter.name }}</h4> 
                                <img class="cshow-arrow-right" id="arrow-right-{{ loop.index }}" src="/icons/arrow-right.svg" alt="arrow-right" style="display: inline;">
                                <img class="cshow-arrow-down" id="arrow-down-{{ loop.index }}" src="/icons/arrow-down.svg" alt="arrow-down" style="display: none;">
                            </div>
                            <div class="cshow-chapters-element-episode-container" id="chapter-{{ loop.index }}" data-index="{{ loop.index }}">
                                <ul>
                                    {% if status == "PUBLIC" %}
                                        {% for episode in chapter.episodes %}
                                            
                                            <li>
                                                <div class="cshow-chapters-element-episode" 
                                                    onclick="window.location.href='{{ path('preview_course', {status: status, courseId: course.id, episodeId: episode.id, returnPath: returnPath}) }}';">
                                                    <p>
                                                        {{episodeIndex}}. {{ episode.name }}
                                                    </p>
                                                    
                                                    {% if not ( episode.isFreeToWatch) %}
                                                        <img class="lock-img" src="/icons/lock.svg" alt="locked">
                                                    {% endif %}
                                                </div>
                                            </li>

                                            {% set episodeIndex = episodeIndex + 1 %}
                                        {% endfor %}
                                        
                                    {% else %}
                                        {% for episode in chapter.episodesDraft %}
                                            
                                            <li>
                                                <div class="cshow-chapters-element-episode" 
                                                    onclick="window.location.href='{{ path('preview_course', {status: status, courseId: course.id, episodeId: episode.id, returnPath: returnPath}) }}';">
                                                    <p>
                                                        {{episodeIndex}}. {{ episode.name }}
                                                    </p>
                                                    
                                                    {% if not ( episode.isFreeToWatch) %}
                                                        <img class="lock-img" src="/icons/lock.svg" alt="locked">
                                                    {% endif %}
                                                </div>
                                            </li>

                                            {% set episodeIndex = episodeIndex + 1 %}
                                        {% endfor %}
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    {% endfor %}



            </div>

        </div>
        
    </div>

<script>

    function toggleChapter(index) {
        const chapter = document.getElementById('chapter-' + index);
        const arrowRight = document.getElementById('arrow-right-' + index);
        const arrowDown = document.getElementById('arrow-down-' + index);
        let expandedChapters = JSON.parse(localStorage.getItem('expandedChapters')) || [];

        if (chapter.style.display === 'none' || chapter.style.display === '') {
            chapter.style.display = 'block';
            arrowRight.style.display = 'none';
            arrowDown.style.display = 'inline';
            expandedChapters.push(index);
        } else {
            chapter.style.display = 'none';
            arrowRight.style.display = 'inline';
            arrowDown.style.display = 'none';
            expandedChapters = expandedChapters.filter(i => i !== index);
        }
        localStorage.setItem('expandedChapters', JSON.stringify(expandedChapters));
    }

    document.addEventListener("DOMContentLoaded", function() {
        const chapters = document.querySelectorAll('.cshow-chapters-element-episode-container');
        let expandedChapters = JSON.parse(localStorage.getItem('expandedChapters')) || [];

        if (expandedChapters.length === 0 && chapters.length > 0) {
            chapters[0].style.display = 'block';
            document.getElementById('arrow-right-0').style.display = 'none';
            document.getElementById('arrow-down-0').style.display = 'inline';
            expandedChapters.push(chapters[0].dataset.index);
            localStorage.setItem('expandedChapters', JSON.stringify(expandedChapters));
        }

        expandedChapters.forEach(index => {
            const chapter = document.getElementById('chapter-' + index);
            const arrowRight = document.getElementById('arrow-right-' + index);
            const arrowDown = document.getElementById('arrow-down-' + index);

            if (chapter) {
                chapter.style.display = 'block';
                arrowRight.style.display = 'none';
                arrowDown.style.display = 'inline';
            }
        });
    });

</script>

{% endblock %}