{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

 <div>
        {% if episodeId > 0 %}
            {% include 'partials/episode/_show.html.twig' with { episode: episode } %}
        {% else %}
            <h1>
                {{ course.name }}
            </h1>
            <img
                width = 200px
                src="{{ course.ImagePath }}"
            />
            <p>
                {{ course.Description }}
            </p>
        {% endif %}

        <p><h3>Content</h3>
            {% for chapter in course.chapters %}       
                <h4>CHAPTER: {{ chapter.name }}</h4>
                <ul>
                {% for episode in chapter.episodes %}
                    <div>
                        <li>
                            {{episode.name}}:
                            <br>
                            <img
                                width = 100px
                                src="{{ episode.ImagePath ? episode.ImagePath : "https://w7.pngwing.com/pngs/361/973/png-transparent-no-symbol-sign-scalable-graphics-hitting-others-s-angle-text-sticker.png" }}"
                                alt=""
                            />
                            <p><a href="/courses/show/{{course.id}}/{{episode.id}}">watch</a></p>
                            - {{episode.description}}
                        </li>
                    </div>
                {% endfor %}
                </ul>
            {% endfor %}
        
    </p>

    <p>
    Categories:
    {% for category in course.categories %}
    {{category.name}}
    {% endfor %}
    </p>

        {% if app.user == course.user %}
        <p> 
            <a 
                href="/courses/edit/{{ course.id }}">
                Edit course   
            </a>
        </p>
           
        <p>
            <a 
                href="/courses/delete/{{ course.id }}">
                Delete course
            </a>
        </p>
            
        {% endif %}
    </div>

<h4>Course created by {{course.user.username}}</h1>

{% endblock %}